.dataAdireita {
    text-align: right;    
}
.adireita {
    margin-right: 30%;
}
#whatever-gallery > div > form{display: none;}

.textoJustificado {
    text-align: center;
}

#contentDetalheEmpenhoNaoEntregue {

    background-image: linear-gradient(to right, #6abf57 55%, white 65%);
    border-radius: 5px;;
    width:0%;
    height:30px;

    padding:3px;

  }
