.dataAdireita {
    text-align: right;    
}
.adireita {
    margin-right: 30%;
}
#whatever-gallery > div > form{display: none;}

.textoJustificado {
    text-align: center;
}

html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    margin-top: auto;
}
#contentDetalheEmpenhoNaoEntregue {

    background-image: linear-gradient(to right, #6abf57 55%, white 65%);
    border-radius: 5px;;
    width:0%;
    height:30px;

    padding:3px;

  }
  #contentDetalheEmpenhoEntregue {

    background-image: linear-gradient(to right, #6abf57 75%, white 85%);
    border-radius: 5px;;
    width:0%;
    height:30px;

    padding:3px;

  }
  #contentDetalheEmpenhoConcluido {

    background-image: linear-gradient(to right, #6abf57 75%, white 170%);
    border-radius: 5px;;
    width:0%;
    height:30px;

    padding:3px;

  }
  .box{
  	font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 189px;
    min-height: 128px;
    padding: 33px 15px 0;
    background: #EEE;
    margin: 3px 1px -2px 0;
    background: rgba(0,0,0,0.1);
    text-align: center;
    line-height: inherit;
    color: #555555;
  }
  
  .box:hover {
  	transform: scale(1.1, 1.1);
	background: linear-gradient(to right, #6abf57 95%, white 170%);
	opacity: 0.8;
	color: black;
	box-shadow: 2px 2px 20px rgba(0,0,0,.5);
}
